[submodule "modules/vendor/apt"]
	path = modules/vendor/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/vendor/jenkins"]
	path = modules/vendor/jenkins
	url = https://github.com/jenkinsci/puppet-jenkins.git
[submodule "modules/vendor/java"]
	path = modules/vendor/java
	url = https://github.com/puppetlabs/puppetlabs-java.git
[submodule "modules/vendor/apache"]
	path = modules/vendor/apache
	url =  https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "modules/vendor/stdlib"]
	path = modules/vendor/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/vendor/concat"]
	path = modules/vendor/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git